body{
  background-color: black;
  color: #fff;
  /* margin-left: 10.5rem;
  margin-right: 10.5rem; */

}



.title{
  margin-left: 8.5rem;
}

h1{
  font-family: 'Prata', serif;
  font-size: 45px;
}

p{
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.collapse{
  display: flex;
  justify-content: space-between;
  background-color: black;

}
.navbar{
  color: black;
  border-color: black;
}

.myButton {
	box-shadow: 0 0 0 -31px #ffe854;
	background-color:#fafa37;
	border-radius:3px;
	border:0.3px solid #f8ff24;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	padding:20px 31px;
	text-decoration:none;
	text-shadow:0 0 0 #ffee6b;
  /* margin-right: 3.5rem; */
}
.myButton:hover {
	background-color:#ebf060;
}
.myButton:active {
	position:relative;
	top:1px;
}


/* First section */

.first-sec-text{
  margin-top: 3.5rem;
  margin-left: 8.5rem;
  margin-right: 8.5rem;
}





/* Second Section */

.logos{
  display: flex;
  justify-content: space-around;
  margin-top: 3.5rem;
  margin-left: 4.5rem;
  margin-right: 4.5rem;

}

.container{
  display: flex;
  justify-content: space-around;
  margin-top: 3.5rem;
}

.child-1-img{
  margin-left: -2.5rem;
  margin-bottom: 0.9rem;
}

.child-2-img{
  margin-right: -2.5rem;
  margin-bottom: 0.9rem;
}

.child-1-img-1{
  font-size: 25px;
  margin-left: -2.7rem;
}

.child-2-img-1{
  font-size: 25px;

}


/* Third Section */

.container-2{
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
  background-color: #2b313b;
}

.container-2 p {
  margin-left: 8.5rem;
}

.two-child-2-p {
  position: relative;
  right: 120px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* padding-left: -8.5rem; */
}

/*
.two-child-1{



} */

.two-child-2{
  margin-left: 0.5rem;
}


.two-child-1-h1{
  font-size: 25px;
  margin-left: 8.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.two-child-2-p{
  margin-right: 7.2rem ;
}


/* Fourth Section */

.container-3{
  margin-top: 3.5em;
}
.container-3 p {
  margin-left: 8.5rem;
}

.three-child-1-h1{
  font-size: 25px;
  margin-left: 8.5rem;
}

.myButton2 {
	box-shadow: 0 0 0 -31px #ffe854;
	background-color:#fafa37;
	border-radius:3px;
	border:0.3px solid #f8ff24;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	padding:20px 31px;
	text-decoration:none;
	text-shadow:0 0 0 #ffee6b;
  margin-left: 8.5rem;
}
.myButton:hover {
	background-color:#ebf060;
}
.myButton:active {
	position:relative;
	top:1px;
}



/* footer */

.footer{
display: flex;
justify-content: space-between;
background-color: #2b313b;
margin-top: 3.5em;


}

.social-icons {
  margin-right: 8.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.title2{
  margin-left: 8.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

}




/* Tablet Size */
@media screen and (max-width: 690px) {



  body{
    background-color: black;
    color: #fff;
    /* margin-left: 2.5rem;
    margin-right: 2.5rem; */

  }

  .navbar{
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;

  }

  .navbar-brand{
    display: flex;
    justify-content: flex-start;

  }

  .navbar-toggler{
    margin-top: 2rem;
  }


.logos img{
  display:inline-block;
  /* min-width: 20px; */
  min-height: 1px;
  margin-right: 2rem;
  margin-bottom: 1rem;
  width: 5rem;
}

.logos{
  display: block;
  height: 100px;
  width: 350px;
  margin-left: 8rem;
}

/* .logos{
  border: 1px solid red ;
} */


.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-2{
  display: inline-block;
  width: 41.5rem;
  text-align:left;
}
.first-text {
  margin-left: -5.5rem;
  margin-right: -5.5rem;
}

.child-2{
  margin-left: -5rem;
  margin-top: 2rem;

}
.two-child-1{
  margin-left: -5.2rem;
  margin-right: -5rem;
}
.two-child-2{
  margin-left: 2.2rem;
}
.two-child-2-p{
  width: 37rem;
}

.container-3{
  margin-left: -5.5rem;
}

.title2{
  margin-left: 3rem;
}

.social-icons{
  margin-right: 3rem;
}

.title1{
  position: absolute;
  left: 50px;
  color: white;
  margin-top: 3rem;
}

}







@media screen and (max-width: 600px) {


.child-1-img{
  width: 22rem;
}

.child-2-img{
  width: 22rem;
}

.logos img{
  display: inline-block;
  /* min-width: 20px; */
  min-height: 2px;
  margin-bottom: 1.3rem;
  width: 5rem;
  height: 20px;

}
.logos{
  display: block;
  height: 120px;
  width: 200px;
  margin-left: 8rem;
}

.column1{
  float: left;
 width: 50%;
}

.column2{
  float: right;
 width: 50%;
}





}












/* Mobile size */
